node_modules
.pnp.cjs
.pnp.loader.mjs
.next
out
apps/**/.next
apps/**/dist
apps/**/.turbo
packages/**/dist
.env
.env.local
.env.*.local
.prisma
coverage
.DS_Store
.idea
.vscode
/tmp
release/
pnpm-lock.yaml
